@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: "ballet";
    src: url("../assets/fonts/Ballet-Regular.ttf");
}

@font-face {
    font-family: 'amsterdam';
    src: url('../assets/fonts/NewAmsterdam-Regular.ttf');
}

@font-face {
    font-family: 'dancing';
    src: url('../assets/fonts/DancingScript-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'oxygen';
    src: url('../assets/fonts/Oxygen-Regular.ttf');
}

.ballet { font-family: "ballet"; }
.rubik { font-family: "Rubik", sans-serif; }
.amsterdam { font-family: 'amsterdam'; }
.dancing { font-family: 'dancing'; }
.oxygen { font-family: 'oxygen'; }

.box {
    max-width: 1200px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1201px) {
        width: 100%;
    }
}