---
const { Link, Text, Active } = Astro.props
---
<a class={Active ? "new-amsterdam-regular text-xl antialiased text-pretty text-teal-700" : "new-amsterdam-regular text-xl antialiased text-pretty hover:text-teal-700"} href={ Link }>{ Text }</a>